@blue: #babdde;
@btnActive:  #aeb0c2;
@btnDisable: #676987;
@jumbotronMarginTop: 40px; 

.margenes(@top,@bottom){
	margin-top: @top;
	margin-bottom: @bottom;
}

.backgroundAndTextColors(@background,@text){
	background-color: @background;
	color: @text;	
}

.jumbotron{
	@include backgroundAndTextColors(@blue,white);
	margin-top: @jumbotronMarginTop;
	border-bottom-left-radius: 30px;

}
footer{
	padding:10px 10px 0 10px;
	@include backgroundAndTextColors(@blue,black);
	@include margenes(10px,0px);
}

.btn{
	.backgroundAndTextColors(@btnActive,white);
}

.card-hotel{
	flex: 1 200px;
	padding: 0px;
	margin:3px 2px 2px 2px;
	.backgroundAndTextColors(@blue,black);
}

.card-cards-header{
	.backgroundAndTextColors(@blue,black);
}

.btn-reserva{
	width:100%;
	left:0px;
	bottom: 0px
}


.nav-principal{
	-webkit-box-shadow: -1px 23px 37px -5px rgba(0,0,0,0.37);
	-moz-box-shadow: -1px 23px 37px -5px rgba(0,0,0,0.37);
	
}
.separate-icon-left{
	margin-right:5px;
}
.card{
	border-width: 2px;
	border-style: solid;
	border-color: @blue;
	border-radius: 10px;  
}
.banner-title{
	background: rgba(0,0,0,0.09);
    border-radius: 10px;
}
.card>.card-header>h5>.btn-link{
	.backgroundAndTextColors(rgba(0,0,0,0),black);
	border-width: 0px;
}
.card>.card-header>h5>.btn-link:hover{
	color: @blue;
}
.card>.card-header>h5>.btn:focus{
	box-shadow: none;
	color: @blue;
}
.modal>.modal-dialog{
	background-color: #5896d8;
	border-radius: 10px;
}
.modal>.modal-dialog>div>.modal-header{
	background-color: #5896d8;
	color:white;
}
.modal>.modal-dialog>div>.modal-footer{
	background-color: #f7f7f7bd
}
#carouselControls{
	margin-bottom: 10px;
}